#bg-img{

    background-image: url(https://images-ext-2.discordapp.net/external/tCylyjQ8aGN79EZnM2MY4u8QsvTQW3ViMXB-Zd4rghw/https/i.imgur.com/jAZOVhd.jpg?width=1006&height=670) ;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
