<div class="container-fluid">
  <div class="row d-flex align-items-center">

      <div class="col-md-6">
          <div class="row d-flex justify-content-center">
              <div class="col-md-6">
                  <h1 class="text-center mb-6">Entrar</h1>

                      <form class="">
                          <div class="form-group">
                              <label for="usuario">Usuário:</label>
                              <input type="email" class="form-control" placeholder="Seu e-mail cadastrado">
                          </div>
                          <div class="form-group">
                              <label for="">Senha:</label>
                              <input type="password" class="form-control" placeholder="Sua senha">
                          </div>

                          <div class="d-flex justify-content-center ">
                              <button class="btn btn-success w-50 mt-2 mb-0">Entrar</button>
                          </div>

                          <hr class="my-4">

                          <p class="text-center">Não tem uma conta? <a routerLink="/cadastro">
                            Cadastre-se
                          </a></p>


                      </form>
              </div>
          </div>
      </div>

      <div class="col-md-6" id="bg-img">
      </div>
  </div>


</div>
