
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <!-- <a class="navbar-brand" href="#"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item">
            <img src="https://github.com/DharanCosta.png" class="rounded-circle" width="50">
        </li>

        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-light fs-16">Bem vindo, <span class="colorcinza">Dharan</span> </p>
        </li>

        <li class="nav-item pl-3">
         <a href="#">
          <p class="text-light fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
        </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li>
          <a class="nav-item text-light fs-16 m-0" href="#">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>


    </div>
  </nav>
