<div class="container-fluid">
  <div class="row bg-dark align-items-center">

    <div class="col-md-6">

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-white ">
            <h1 class="fs-t">Seja bem-vinde ao <br> <span class="detalhe"> BLOG PESSOAL</span></h1>
            <h5 class="fs-st">Esse é o melhor lugar para expresar seus pensamentos e opniões!</h5>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 mt-3 mb-5">
              <button class="btn btn-light mr-2 mb-1" data-toggle="modal" data-target="#novaPostagen">Nova Postagem</button>
              <a  class="btn btn-outline-light mb-1" href="#postagens">Ver Postagens</a>
            </div>
        </div>

    </div>

        <div class="col-md-6 d-flex justify-content-center">
          <img src="https://imgur.com/LjR4f2M.png" alt="Foto home" class="img-fluid">
        </div>

  </div>
</div>

<div class="container my-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

      <a (click)='findByIdUser()' class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por tema</a>
    </div>
  </nav>
  <!--? Todas as postagens -->
  <div class="tab-content" id="">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-6">
          <div class="form-group">
              <input type="text" class="form-control"
              id="titulo" placeholder="Digite o título da postagem para pesquisar" [(ngModel)]='tituloPost' (keyup)="findByTituloPostagem()">
          </div>
        </div>
      </div>

      <div class="card mt-3"
       *ngFor='let item of listaPostagens | orderBy : key : reverse'>
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4>{{item.titulo}}</h4>
          <img onerror="this.src='https://st3.depositphotos.com/6672868/14376/v/600/depositphotos_143767633-stock-illustration-user-profile-group.jpg'" class="rounded-circle my-0 mr-3" width="45px" height="45px" src="{{item.usuario.foto}}" alt="Foto de perfil">
        </div>
        <div class="card-body">
          <blockquote class="blockquote align-items-center mb-0">
            <p>{{item.texto}}</p>
            <footer class="blockquote-footer">Tema: {{item.tema.descricao}}<cite class="d-flex justify-content-end" title="Source date"> {{item.date | date: 'dd/MM/YYYY'}} ás {{item.date | date: 'HH:mm'}}</cite></footer>
          </blockquote>
        </div>
      </div>

    </div>
  <!--? Minhas postagens -->
    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

      <div class="card mt-3" *ngFor='let item of user.postagem |orderBy : key : reverse'>
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4>{{item.titulo}}</h4>
          <img onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuM_E40ZzUaNMexj5Koom0DQT8tZR4CzrxSw&usqp=CAU.jpeg'" class="rounded-circle my-0 mr-3" width="45px" height="45px" src="{{user.foto}}" alt="Foto de perfil">
        </div>
        <div class="card-body">
          <blockquote class="blockquote align-items-center mb-0">
            <p>{{item.texto}}</p>
            <footer class="blockquote-footer">Tema: {{item.tema.descricao}}<cite class="d-flex justify-content-end" title="Source date"> {{item.date | date: 'dd/MM/YYYY'}} ás {{item.date | date: 'HH:mm'}}</cite></footer>
          </blockquote>
          <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3"  href="">Editar</a>
          <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

        </div>
      </div>



    </div>

    <!--? Postagens por tema -->
    <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">

      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-6">
          <div class="form-group">
              <input type="text" class="form-control"
              id="titulo" placeholder="Digite um tema de postagem para pesquisar" [(ngModel)]='nomeTema' (keyup)="findByNomeTema()">
          </div>
        </div>
      </div>


      <div *ngFor='let tema of listaTemas'>
      <div class="card mt-3"  *ngFor='let item of tema.postagem |orderBy : key : reverse' >
        <div class="card-header d-flex justify-content-between align-items-center" >
          <h4>{{item.titulo}}</h4>
          <img  class="rounded-circle my-0 mr-3" width="45px" height="45px" src="{{item.usuario.foto}}" alt="Foto de perfil">
        </div>
        <div class="card-body">
          <blockquote class="blockquote align-items-center mb-0">
            <p>{{item.texto}}</p>
            <footer class="blockquote-footer"><cite class="" title="Source date"> {{item.date | date: 'dd/MM/YYYY'}} ás {{item.date | date: 'HH:mm'}}</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="novaPostagen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="título" placeholder="Título da sua postagem"  [(ngModel)]="postagem.titulo">
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea name="texto" class="form-control" id="texto" rows="10" placeholder="Escreva sua postagem"  [(ngModel)]="postagem.texto"></textarea>
        </div>

        <div class="form-group">
          <label for="tema">Escolha um tema ou <a routerLink='/tema' data-dismiss="modal" >cadastre um novo</a> :</label>
          <select name="tema" class="form-control" id="tema" [(ngModel)]="idTema" (change)="findByIdTema()">
            <option *ngFor="let tema of listaTemas" value="{{tema.id}}">{{tema.descricao}}</option>
          </select>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="publicar()">Publicar</button>
      </div>
    </div>
  </div>
</div>
