<div class="container-fluid">
  <div class="row bg-dark align-items-center">

    <div class="col-md-6">

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-white ">
            <h1 class="fs-t">Seja bem-vinde ao <br> <span class="detalhe"> BLOG PESSOAL</span></h1>
            <h5 class="fs-st">Esse é o melhor lugar para expresar seus pensamentos e opniões!</h5>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 mt-3 mb-5">
              <button class="btn btn-light mr-2 mb-1" data-toggle="modal" data-target="#novaPostagen">Nova Postagem</button>
              <a class="btn btn-outline-light mb-1" href="#postagens">Ver Postagens</a>
            </div>
        </div>

    </div>

        <div class="col-md-6 d-flex justify-content-center">
          <img src="https://imgur.com/LjR4f2M.png" alt="Foto home" class="img-fluid">
        </div>

  </div>
</div>

<div class="container my-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por tema</a>
    </div>
  </nav>
  <div class="tab-content" id="todasPostagens">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">Todas as postagens</div>

    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">Minhas Postagens</div>

    <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">Postagens por tema</div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="novaPostagen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="título" placeholder="Título da sua postagem">
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea name="texto" class="form-control" id="texto" rows="10" placeholder="Escreva sua postagem"></textarea>
        </div>
        <div class="form-group">
          <label for="tema">Escolha um tema ou <a routerLink='/tema' data-dismiss="modal" >cadastre um novo</a> :</label>
          <select name="tema" class="form-control" id="tema">
            <option value="">Temas</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Publicar</button>
      </div>
    </div>
  </div>
</div>
